body {
    margin: 0;
}
div {
    display: flex;
    border: 1px solid green;
    margin: 20px auto;
    flex-wrap: wrap;
    
}

.container div {
    position: relative;
    top: 30%;
    left: 15%;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 40px;
    justify-content: center;
    align-items: center;
}
.container2 div {
    left:50%;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0px;
    justify-content: center;
    align-items: center;   
}
.container2 div:nth-of-type(4){
    margin-top: 200px;
    justify-content: center;
    
}

.container2 div:nth-of-type(5){
    align-self: center;
}

.container2 div:nth-of-type(2){
    order: -1;
} 
 





